{{!-- pagina principal del administrador --}}
<div class="container" id="main">
  <div class="row">
    <div class="col-sm-8 text-center">
      <div class="row">
        <div class="col-md-4">
          <img src="img/user.png" alt="usuario" width="80px" height="80px">
          <hr class="new5">
          <h3 id="my_profile">{{user.name}}</h3>
          <h5>Administrador</h5>
          <hr class="new5">
        </div>
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <div class="card col-md-12 mx-auto" id="title">
            <div class="card-header text-center" id="title-header">
              <h1>ATHENAS</h1>
              <hr>
              <p>Plataforma de cursos virtuales</p>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div class="row text-center" id="list-Course">
        <div class="text-center" id="list-Course-title">
          <h4>Mis Cursos</h4>
          <hr>
        </div>
        {{#each course}}
        <div class="col-md-4">
          <div class="card border-primary mb-3 text-center">
            <div class="card-header" id="module">

              <ul class="flex-container flex-end">
                <li class="flex-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435z" />
                  </svg>
                </li>
              </ul>
              <h4 class="card-title flex-container center">
                {{nameCourse}}
              </h4>
            </div>
            <div class="card-body">
              <a href="/detail/{{_id}}" class="btn btn-primary"><i class=""></i>Ver detalles</a>
              {{!-- <a href="/class/activity/{{_id}}" class="btn btn-success btn-block btn-sm"><i class=""></i>Matricular</a> --}}

            </div>
          </div>
        </div>
        {{else}}

        <div class="card col-md-12 text-center">
          <div class="card-body">
            <p class="lead"> No hay cursos aún</p>
            <a href="/course/add" class="btn btn-primary">Crear Curso</a>
          </div>
        </div>

        {{/each}}
      </div>
    </div>

    <div class="col-md-4 text-center">
      <br>
      <br>
      <br>
      <div class="card border-success mb-3 text-center" id="tracing-Course">
        <a href="/course/add" class="btn btn-success" id="list-Course-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-square"
            viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          Nuevo Curso
        </a>

        <a href="list_user/{{user._id}}" class="btn btn-success" id="list-Course-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-people-fill"
            viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
          </svg>
          Mis Usuarios
        </a>
        <a href="/list_course/{{user._id}}" class="btn btn-success" id="list-Course-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-book"
            viewBox="0 0 16 16">
            <path
              d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
          </svg>
          Mis Cursos
        </a>
        <a href="/result_general/{{user._id}}" class="btn btn-success" id="list-Course-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-peace-fill"
            viewBox="0 0 16 16">
            <path
              d="M14 13.292A8 8 0 0 0 8.5.015v7.778l5.5 5.5zm-.708.708L8.5 9.206v6.778a7.967 7.967 0 0 0 4.792-1.986zM7.5 15.985V9.207L2.708 14A7.967 7.967 0 0 0 7.5 15.985zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5z" />
          </svg>
          Resultados
        </a>
        <a href="/my_account" class="btn btn-success" id="list-Course-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
            class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path
              d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
          </svg>
          Mi cuenta
        </a>

      </div>
    </div>

  </div>
</div>
</div>