<div class="container" id="main">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="../img/unidad.png" alt="usuario" width="80px" height="80px">
          <hr class="new5">

                  <div class="card border-success mb-3 text-center" id="tracing-Course">
                     {{> course}}
                  </div>
        </div>
        <div class="col-md-8">
            <div class="card bg-light mb-3 text-center" id="title">
                <div class="card-header" id="title-header">
                    <ul class="flex-container flex-end">
                        <li class="flex-item">
                            <a href="/course/edit/{{detailcourse._id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    curso
                    <hr>
                    <h3>{{detailcourse.nameCourse}}</h3>
                </div>
            </div>
            <div class="" id="course__general">
                
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse"
                data-target="#objetive_general">
                Objetivo General</button>
            <div id="objetive_general" class="collapse">
                <br>
                <div class="col-md-12">
                    <div class="card border-primary mb-3 text-center">
                        <p>{{detailcourse.general_objective}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse"
                data-target="#objetive_especifique">
                Objetivo Especifico</button>

            <div id="objetive_especifique" class="collapse">
                <br>
                <div class="col-md-12">
                    <div class="card border-primary mb-3 text-center">
                        <p>{{detailcourse.specific_goal}}</p>
                    </div>
                </div>
            </div>

            <hr>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#problem">
                Pregunta Problema</button>
            <div id="problem" class="collapse">
                <br>

                <div class="card border-primary mb-3 text-center">
                    <p>{{detailcourse.problem_question}}</p>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#competencies">
                Competencias</button>
            <div id="competencies" class="collapse">
                <br>
                <div class="col-md-12">
                    <div class="card border-primary mb-3 text-center">
                        <p>{{detailcourse.Competencies}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#result">
                Resultados</button>
            <div id="result" class="collapse">
                <br>
                <div class="col-md-12">
                    <div class="card border-primary mb-3 text-center">
                        <p> {{detailcourse.results}}</p>
                    </div>
                </div>
            </div>


                
            </div>
        </div>

    </div>
</div>

