<div class="col-md-10 mx-auto" id="main">
    <div class="card  bg-light mb-3 text-center" id="title">
        <div class="card-header"   id="title-header">
            <ul class="flex-container flex-end"  >
                            <li class="flex-item">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-menu-button-wide-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1zm9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0l-.396-.396zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
            <h3>Editar  Curso</h3>
        </div>

        <div class="card-body">
            <form action="/course/edit-course/{{course._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="nameCourse" class="form-control" value="{{course.nameCourse}}">
                </div>
                <br>
                <h4>Objetivos</h4>
                <hr>
                <div class="row justify-content-md-center">

                    <div class="col-sm">
                        <div class="form-group">
                            <textarea name="specific_goal" id="specific_goal" class="form-control"
                                placeholder="Objetivo General">{{course.specific_goal}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <textarea name="general_objective" id="general_objective" class="form-control"
                                placeholder="Objetivo Especifico">{{course.problem_question}}</textarea>
                        </div>
                    </div>
                </div>
                <br>
                <h4>Pregunta o problematica a abordar en el curso</h4>
                <hr>
                <div class="form-group">
                    <textarea name="problem_question" id="problem_question" class="form-control"
                        placeholder="Mediante una pregunta o situación problemática, conecte el objetivo con lo que espera pueda resolver el estudiante una vez termine el módulo ">{{course.problem_question}}</textarea>
                </div>
                <br>
                <h4>Aprendizaje</h4>
                <div class="row justify-content-md-center">

                    <div class="col-sm">
                        <h5>Competencias</h5>
                        <div class="form-group">
                            <textarea name="Competencies" id="Competencies" class="form-control"
                                placeholder="Redacte las competencias que propone para el Modulo de acuerdo a los objetivos del mismo.">{{course.Competencies}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h5>Resultados</h5>
                        <div class="form-group">
                            <textarea name="results" id="results" class="form-control"
                                placeholder="De acuerdo a las competencias definidas determine los resultados de aprendizaje que desea que alcance el estudiante">{{course.results}}</textarea>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>