<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="img/teacher.png" alt="usuario" width="100px" height="100px">
      <hr class="new5">
      <h3 id="my_profile">{{user.name}}</h3>
      <h6>Perfil docente</h6>
      <a href="/my_account">Editar Perfil</a>
    </div>
    <div class="col-md-8">
      <br>
      <div class="card col-md-12 mx-auto" id="title">
        <div class="card-header text-center" id="title-header">
          {{course.nameCourse}}
          <hr>
          <button type="button" class="btn btn-outline-success" data-toggle="collapse" data-target="#demo">
            Detalles del curso</button>
        </div>
      </div>
      <br>
      <div id="demo" class="collapse">
        <div class="card border-primary mb-3 text-center">
          <div class="card-header">Objetivo General</div>
          <p>{{course.general_objective}}</p>
        </div>


        <div class="card border-primary mb-3 text-center">
          <div class="card-header">Objetivo Especifico</div>
          <p>{{course.specific_goal}}</p>
        </div>

        <div class="card border-primary mb-3 text-center">
          <div class="card-header">
            <h5>Pregunta Problema</h5>
          </div>
          <p>{{course.problem_question}}</p>
        </div>


        <div class="card border-primary mb-3 text-center">
          <div class="card-header">
            <h5>Competencias</h5>
          </div>
          <p>{{course.Competencies}}</p>
        </div>



        <div class="card border-primary mb-3 text-center">
          <div class="card-header">
            <h5>Resultados</h5>
          </div>
          <p> {{course.results}}</p>
        </div>

      </div>
    </div>

  </div>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="card border-success mb-3 text-center">
        <div class="card-header text-center">
          <a href="/unidad/add" class="btn btn-success">
            Nueva Unidad</a>
          <br>
          <a href="/result_activity" class="btn btn-success">
            Resultados Generales</a>
          <br>
          <a href="/list_estudent" class="btn btn-success">
            Estudiantes</a>
          <br>
          <a href="/list_unidades/{{user._id}}" class="btn btn-success">
            Mis Unidades</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        {{#each module}}
        <div class="col-md-4">
          <div class="card border-primary mb-3 text-center">
            <div class="card-header" id="module">

              <ul class="flex-container flex-end">
                <li class="flex-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-diamond-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435z" />
                  </svg>
                </li>
              </ul>
              <h4 class="card-title flex-container center">
                {{nameClass}}
              </h4>
            </div>
            <div class="card-body">
              <a href="/activity/{{_id}}" class="btn btn-primary"><i class=""></i>Ver detalles de la unidad</a>
              {{!-- <a href="/class/activity/{{_id}}" class="btn btn-success btn-block btn-sm"><i class=""></i>Matricular</a> --}}

            </div>
          </div>
        </div>
        {{else}}
        <div class="card col-md-12 text-center">
          <div class="card-body">
            <p class="lead"> No se han registrado Módulos de aprendizaje </p>
            <a href="/unidad/add" class="btn btn-primary">Crear Nuevo Modulo</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>