<div class="container" id="main">
<div class="row">
      <div class="col-md-3 text-center">
            <img src="/img/edit.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h3 id="my_profile">Editar unidad de Aprendizaje</h3>
            <hr class="new5">

        </div>
    <div class="col-md-9 mx-auto">
    <div class="card border-primary mb-3 text-center">
        <div class="card-header">
            <h3>Editar unidad</h3>
        </div>

        <div class="card-body">
            <form action="/unidad/edit-unidad/{{clases2._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="nameClass" class="form-control" value="{{clases2.nameClass}}">
                </div>
                <br>
                <h4>Objetivos</h4>
                <hr>
                <div class="row justify-content-md-center">

                    <div class="col-sm">
                        <div class="form-group">
                            <textarea name="specific_goal" id="specific_goal" class="form-control"
                                placeholder="Objetivo General">{{clases2.general_objective}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <textarea name="general_objective" id="general_objective" class="form-control"
                                placeholder="Objetivo Especifico">{{clases2.specific_goal}}</textarea>
                        </div>
                    </div>
                </div>
                <br>
                {{!-- <h4>Pregunta o problematica a abordar en el curso</h4>
                <hr>
                <div class="form-group">
                    <textarea name="problem_question" id="problem_question" class="form-control"
                        placeholder="Mediante una pregunta o situación problemática, conecte el objetivo con lo que espera pueda resolver el estudiante una vez termine el módulo ">{{clases2.problem_question}}</textarea>
                </div>
                <br> --}}
                {{!-- <h4>Aprendizaje</h4>
                <div class="row justify-content-md-center">
                    <div class="col-sm">
                        <h5>Competencias</h5>
                        <div class="form-group">
                            <textarea name="Competencies" id="Competencies" class="form-control"
                                placeholder="Redacte las competencias que propone para el Modulo de acuerdo a los objetivos del mismo.">{{clases2.Competencies}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h5>Resultados</h5>
                        <div class="form-group">
                            <textarea name="results" id="results" class="form-control"
                                placeholder="De acuerdo a las competencias definidas determine los resultados de aprendizaje que desea que alcance el estudiante">{{clases2.results}}</textarea>
                        </div>
                    </div> 
                </div> --}}
                <br>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

</div>
</div>