<div class="container" id="main">
    <div class="row" id="title-list">
        <div class="col-md-5 text-center">
            <img src="../img/student.png" alt="usuario" width="80px" height="80px">
            <hr class="new5">
            <h5>{{resultUser.name}}</h5>
            <h6>{{resultUser.email}}</h6>

            <hr class="new5">


        </div>
        <div class="col-md-7">
            <br>
            <br>
            <div class="card col-md-12 mx-auto" id="title">
                <div class="card-header text-center" id="title-header">
                    <h4>Segumiento General de estdiante</h4>
                    <p>Detalle de las actividades realizadas por el estudiente</p>
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="form-group">

                <div class="input-group mb-3">
                    <span class="input-group-text">Buscar</span>
                    <input type="text" class="search form-control" aria-label="Amount (to the nearest dollar)">
                </div>
            </div>
        </div>
        <span class="counter pull-right"></span>


    </div>
    <div class="table-responsive" id="content-list" style="overflow-y:scroll">
        <table class="table table-hover results table-striped">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Nombre de la actividad</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Tiempo dedicado</th>
                    <th scope="col">Puntuación Requerida</th>


                </tr>
            </thead>
            {{#each ActivityXapi}}
            <tbody>
                <tr>
                    <td>
                        {{nomPrueba}}
                    </td>

                    <td>
                        <p>{{score_won}}</p>
                    </td>
                    <td>
                        <p>{{time}}</p>
                    </td>

                    <td>
                        <p>{{required_score}}</p>
                    </td>






                </tr>

    </div>
    {{/each}}
</div>
</tbody>
</table>

<script>
    $(document).ready(function () {
        $(".search").keyup(function () {
            var searchTerm = $(".search").val();
            var listItem = $('.results tbody').children('tr');
            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf(
                        (match[3] || "")
                        .toLowerCase()) >= 0;
                }
            });

            $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                $(this).attr('visible', 'false');
            });

            $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                $(this).attr('visible', 'true');
            });

            var jobCount = $('.results tbody tr[visible="true"]').length;
            $('.counter').text(jobCount + ' item');

            if (jobCount == '0') {
                $('.no-result').show();
            } else {
                $('.no-result').hide();
            }
        });
    });
</script>
</div>