<div class="container" id="main">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="../img/unidad.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h3 id="my_profile">Registar Unidad de Aprendizaje</h3>
            <hr class="new5">
        </div>
        <div class="col-md-9 mx-auto">
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">
                    <h3>Unidad de Aprendizaje</h3>
                </div>

                <div class="card-body">
                    <form action="../unidad/new-unidad" method="POST">
                        <div class="form-group">
                            <input type="text" id="title" name="nameClass" class="form-control"
                                placeholder="Nombre de la unidad" autofocus>
                        </div>
                        <br>
                        <h4>Objetivos</h4>
                        <hr>
                        <div class="row justify-content-md-center">

                            <div class="col-sm">
                                <div class="form-group">
                                    <textarea name="specific_goal" id="specific_goal" class="form-control"
                                        placeholder="Objetivo General"></textarea>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <textarea name="general_objective" id="general_objective" class="form-control"
                                        placeholder="Objetivo Especifico"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Guardar
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>