<div class="container" id="main">
    <div class="row">
       
        <div class="col-md-4 text-center">
            <img src="../../img/teacher.png" alt="usuario" width="100px" height="100px">
            <h1 id="my_profile">Usuario Docente</h1>
            <hr class="new5">
            <div>
                <ul class="list-group">
                    <li class="list-group-item active">Perfil Docente</li>
                    <li class="list-group-item">Inicio de sesión</li>
                    <li class="list-group-item">Creación de Modulos</li>
                    <li class="list-group-item">Creación de actividades</li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">

                    <h4> Registro de docente</h4>
                </div>
                <div class="card-body">
                    <form action="/teacher/new-teacher" method="POST">
                        <input type="hidden" name="idCurse" class="form-control" value="{{createTeacher._id}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre del docente"
                                value="{{nameTeacher}}">
                        </div>

                        <br>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Correo"
                                value="{{email}}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" name="mobile" placeholder="Numero de celular"
                                value="{{mobile}}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password"
                                placeholder="Ingresar Contraseña">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password"
                                placeholder="Confirmar Contraseña">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>