<div class="card text-center"  id="main">
    <div class="card-body">
        <h1>Draco Servicios</h1>
        <img src="img/draco.jpg" alt="" />
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/user.png" alt="" />
                    <h3>Nosotros</h3>
                    <p>Somos una compañía colombiana enfocada en dar soluciones
                        tecnológicas a nuestros clientes, diseñamos, creamos y aplicamos
                        herramientas que se ajusten a tus necesidades.</p>
                </div>
                <div class="col-sm-4">
                    <img src="img/acuerdo.png" alt="" />
                    <h3>Misión</h3>
                    <p>Nuestra misión es ser la mejor opción para nuestros clientes en la
                        generación de valor, garantizando el máximo aprovechamiento de su
                        inversión.</p>
                </div>
                <div class="col-sm-4">
                <img src="img/ojo.png" alt="" />
                    <h3>Visión</h3>
                    <p>Ser en siete años una de las empresas líderes en brindar soluciones
                        tecnológicas a nivel nacional.</p>

                </div>
            </div>
        </div>
    </div>