<div class="">
  <section class="main-index">
    <div class="jumbotron text-center">
      <h1>ATHENAS</h1>
      <p>Plataforma para cursos virtuales Draco Servicios</p>
      <img src="img/grado.png" alt="">

    </div>
    <hr>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Educación Virtual</h3>
          <p> la educación virtual se relaciona con la educación a
            distancia, la cual nació a raíz de la necesidad de cobertura
            de calidad educativa a personas que, por distancia y tiempo,
            no pueden desplazarse hacia un centro de formación físico</p>
          <p>La educación virtual complementa a este tipo de modalidad académica,
            ya que mejora las dinámicas de formación de los estudiantes y
            le ofrece mayor apoyo a los docentes para el desarrollo y
            seguimiento académico de los alumnos a cargo.</p>
        </div>
        <div class="col-sm-4">
          <h3>Las TICS</h3>
          <p>Tecnologías de la información y la comunicación (TIC) entendidas éstas
            como: un conjunto de técnicas, desarrollos y dispositivos avanzados derivados
            de las nuevas herramientas (software y hardware), soportes de la información y
            canales de comunicación que integran funcionalidades de almacenamiento,
            procesamiento y transmisión digitalizados de la información.</p>
          <p>en el ámbito de la educación ha ido adquiriendo una creciente importancia
            y ha ido evolucionando a lo largo de estos últimos años, tanto que la utilización
            de estas tecnologías en el aula pasará de ser una posibilidad a erigirse como una
            necesidad y como una herramienta de trabajo básica para el profesorado y el alumnado.</p>
        </div>
        <div class="col-sm-4">
          <h3>Cursos virtuales</h3>
          <p>Un curso en línea es un curso que haciendo uso de las herramientas tecnológicas, 
            ya sea como apoyo a las clases presenciales o en la red, demanda de un proceso 
            organizado en diversas fases para lograr un adecuado proyecto educativo.</p>
          <p>Es un Espacios de docencias telemáticas de gran utilidad para el estudio, que contienen 
            medios para el apoyo a la enseñanza. Además, pero no en exclusiva, los cursos en la 
            Red deben ofrecer un canal de comunicación y expresión, instrumentos tecnológicos que 
            permitan la comunicación dinámica, simultánea, interactiva, diferida y sincrónica.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="secondary-page text-center">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/student.png" alt="student">
        </div>
        <div class="carousel-item">
          <img src="img/blog.png" alt="">
        </div>
        <div class="carousel-item">
          <img src="img/estudio.png" alt="">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </section>
</div>