<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./xapiwrapper.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Veremos los cursos y seguiento por curso</h1>
    <ul id="statement-list"></ul>
    <script>

        const conf = {
            "endpoint": "http://159.65.46.217/proyectos-xapi/xapi/",
            "auth": "Basic " + toBase64("draco:draco")
        };

        ADL.XAPIWrapper.changeConfig(conf);
        const parameters = ADL.XAPIWrapper.searchParams();
        parameters["object"];
        parameters["verb"];

        const queryData = ADL.XAPIWrapper.getStatements(parameters);
        queryData.statements.forEach(populateStatements)

        if (queryData.more && queryData.more !== ""){
        const moreStatements = ADL.XAPIWrapper.getStatements(null, queryData.more);
        }

        function populateStatements(statement) {
        
        const newItem = document.createElement("li")
        const newStatement = document.createTextNode(statement.actor.name + "--" + statement.object.objectType + "--" + "--" + statement.object.objectType + "--" + statement.verb.display["en-US"])
        newItem.appendChild(newStatement) 
        document.getElementById("statement-list").appendChild(newItem);
        
        

}
</script>
</body>
</html>