
/*div principal del calendario*/
#calendario { border: 4px  rgb(111, 0, 255) ; max-width: 556px; 
             text-align: center; }
/*tabla del calendario*/
#diasc { border-collapse: 
         separate; border-spacing: 4px; }
#diasc th,#diasc td { font: normal 14pt arial; width: 70px; height: 30px;}
#diasc th { color: rgb(111, 0, 255); background-color: rgb(185, 203, 236) }
#diasc td { color: rgb(111, 0, 255); background-color: rgb(24, 23, 23) }

/*línea de la fecha actual*/
#fechaactual { font: bold 12pt arial; padding: 0.4em }
#fechaactual i { cursor: pointer ; }
#fechaactual i:hover { color: rgb(24, 24, 24); text-decoration: underline; }
/*formulario de busqueda de fechas*/

/*cabecera del calendario*/ 
#anterior { float: left; width: 100px; font: bold 12pt arial;
          padding: 0.5em 0.1em; cursor: pointer ; }
#posterior { float: right; width: 100px; font: bold 12pt arial; 
          padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {color: rgb(15, 15, 15);text-decoration: none;}
#posterior:hover {color: rgb(15, 15, 15); text-decoration: none;}
#titulos { font: normal 16pt "arial black"; color: rgba(243, 236, 236, 0.856); padding: 0.2em; }