body {
  background-color: rgb(245, 239, 239);
  position: relative;
}

.Logo {
  width: 20%;
}

/* table */
.results tr[visible='false'],
.no-result {
  display: none;
}

.results tr[visible='true'] {
  display: table-row;
}

.counter {
  padding: 8px;
  color: #ccc;
}


.secondary-page {
  background-color: #f1dcbd96;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

#flex-start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.btn {
  width: 100%;
}

#img_home {
  width: 100%;
  height: 490px;
}

#list-Course {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 5px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Roboto Slab', serif;
  /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
  background: linear-gradient(#c1dfdc6c, #ffffff);
}

#list-Course-title {
  padding: 10px;
  margin: 12px;

}

#list-Course-btn {
  width: 90%;
  height: 80%;
  margin: 15px;
}

#tracing-Course {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Roboto Slab', serif;
}

@media (max-width:995px) {

  #list-Course-btn {
    width: 90%;
    height: 80%;
  }

  #list-Course-caja {
    width: 90%;
    height: 80%;
    text-align: center;
  }


}

@media screen and (max-width: 2000px) and (min-width: 1000px) {
  .navbar {
    height: 110px;
    width: 100%;
  }

  #module {
    height: 100PX;
  }
}

@media screen and (max-width: 999px) and (min-width: 5px) {
  .navbar {
    width: 100%;

  }

}

@media screen and (max-width: 810px) {
  ul.flex-column {
    top: 150px;
    width: 20%;
  }

}

ul.flex-column {
  top: 130px;
  position: fixed;
  width: 20%;
}

a.btn {
  margin: 5px;
}

a.btn:hover {
  margin: 5px;
  border-radius: 3px;
  font-size: 17px;
}



.card-header {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Roboto Slab', serif;
}

nav {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Roboto Slab', serif;

}



.nav-item:hover {
  background-color: rgba(65, 90, 114, 0.822);
  border-radius: 3px;
  font-size: 17px;
}

#create-course {
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.43);
}


#create-course-header {
  background-color: rgb(45, 63, 80);
  color: rgb(245, 239, 239);

}

#title-header {
  background-color: rgb(184, 212, 180);
  border-radius: 5px;
}
#title{
  margin: 10px;

}

header {
  width: 100%;
  position: fixed;
  z-index: 100;

}

#main {
  margin-top: 15px !important;
}

#my_profile {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}

hr.new5 {
  border: 10px solid green;
  border-radius: 5px;
}

h4 {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Roboto Slab', serif;
}



#content-list {
  height: 400px;
  overflow: scroll;
}

thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 2px;
  text-align: center;

}

tbody tr td {
  text-align: center;

}

.table-responsive {
  height: 200px;
  overflow: scroll;
}

.table-secondary {
  border-radius: 5px;
}

#course__general {
  background: linear-gradient(#c1dfdc6c, #ffffff);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 13px;
  margin: 10px;
  padding: 30px;
}