<div class="container" id="main">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="../img/unidad.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h3 id="my_profile">Detalles de la unidad de Aprendizaje</h3>
            <hr class="new5">

            <div class="col-md-12">
                <div class="card border-success mb-3 text-center">
                    <div class="card-body">
                        <a href="/modulo_new/{{clases2._id}}" class="btn btn-success">
                            Nuevo módulo</a>
                    </div>
                </div>
                <form action="/unidad/delete/{{clases2._id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-outline-danger" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                            class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <br>
            <div class="card-header text-center" id="title-header">
                <ul class="flex-container flex-end">
                    <li class="flex-item">
                        <a href="/unidad/edit/{{clases2._id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                </path>
                            </svg>
                        </a>
                    </li>
                </ul>
                <h4>{{clases2.nameClass}}</h4>
            </div>
            <br>
            <div class="card border-success mb-3 text-center">
                <div class="card-header">Objetivo General</div>
                <p>{{clases2.general_objective}}</p>
            </div>
            <div class="card border-success mb-3 text-center">
                <div class="card-header">Objetivo Especifico</div>
                <p>{{clases2.specific_goal}}</p>
            </div>
        </div>

    </div>



    <hr>
    <div class="row">


        {{#each course }}
        <div class="col-md-4">
            <div class="card border-primary mb-3 text-center" style="max-width: 20rem;">
                <div class="card-body">
                    <ul class="flex-container flex-end">
                        <li class="flex-item">
                            <a href="/activity/edit/{{_id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="card-title d-flex justify-content-start align-items-center">
                        {{nameActivity}}
                    </h4>
                    <hr>
                    <p>{{description}}</p>
                    {{!-- boton para elimar curso --}}
                    <form action="/activity/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                    </form>
                    <hr>

                    <form action="/studentSolution/{{_id}}" method="GET">
                        <input type="hidden" name="{{_id}}">
                        <button class="btn btn btn-secondary btn-block btn-sm" type="submit">ver resultado</button>
                    </form>
                </div>
            </div>
        </div>

        {{else}}
        <div class="card border-primary mb-3 text-center">
            <div class="card-body">
                <p class="lead"> No hay modulos registrados en esta unidad</p>

            </div>
        </div>
        {{/each}}
    </div>

</div>
<br>
