<div class="container" id="main">
  <div class="row">
         <div class="col-md-3 text-center">
            <img src="/img/edit.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h3 id="my_profile">Editar Módulo de aprendizaje</h3>
            <hr class="new5">

        </div>
        <div class="col-md-9">
    <div class="card border-primary mb-3 text-center" >
        <div class="card-header">
            <h3>Editar Módulo</h3>
        </div>
        <div class="card-body">
            <form action="/activity/edit-activity/{{Activityedit._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="nameActivity" class="form-control" value="{{Activityedit.nameActivity}}">
                </div>
                <br>
                 <div class="form-group">
                    <textarea type="text" name="description" class="form-control">{{Activityedit.description}}</textarea>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Fecha de inicio</label>
                            <input name="start_date" class="form-control" type="date" value="{{Activityedit.start_date}}" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Fecha final</label>
                            <input name="end_date" class="form-control" type="date" value="{{Activityedit.end}}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
  </div>
</div>