{{!-- vista para la Creación de actividades --}}
<div class="container" id="main">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="../img/book.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h3 id="my_profile">Registar Módulo de Aprendizaje</h3>
            <hr class="new5">

        </div>

        <div class="col-md-9">
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">
                    <h3>Módulo de Aprendizaje</h3>
                </div>
                <div class="card-body">
                    <form action="/activity/new-activity" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <input type="hidden" name="idClass" id="idClass" class="form-control" value="{{clases2._id}}">
                        <input type="hidden" name="nameClass" id="nameClass" class="form-control"
                            value="{{clases2.nameClass}}">
                        <input type="hidden" name="user" id="user" class="form-control" value="{{clases2.user}}">

                        <div class="form-group">
                            <input type="text" name="nameActivity" class="form-control"
                                placeholder="Nombre del Módulo" autofocus required>
                                    <div class="valid-feedback">Campo validado</div>
                                    <div class="invalid-feedback">Debe llenar el campo de nombre del curso </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea type="text" name="description" class="form-control"
                                placeholder="Contenido tematico" required></textarea>
                                    <div class="valid-feedback">Campo validado</div>
                                            <div class="invalid-feedback">Debe escribir la description del Módulo</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Fecha de inicio</label>
                                    <input name="start_date" class="form-control" type="date" required>
                                    <div class="valid-feedback">Campo validado</div>
                                    <div class="invalid-feedback">Debe ingresar la Fecha de Incio del Módulo</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Fecha final</label>
                                    <input name="end_date" class="form-control" type="date" required>
                                    <div class="valid-feedback">Campo validado</div>
                                    <div class="invalid-feedback">Debe ingresar la Fecha de final del Módulo</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <input class="form-control" type="file" id="formFile" name="fileActivity" required>
                                    <div class="valid-feedback">Campo validado</div>
                                    <div class="invalid-feedback">Adjuntar Archivo</div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {{!-- script para que el nombre del documento cargado se muestre en el input --}}
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>
        var idClass = document.getElementById("idClass").value;
        var nameClass = document.getElementById("nameClass").value;
        var user = document.getElementById("user").value;
    </script>
    <script>
        var myXAPI = {
            statement: {

                "actor": {
                    "objectType": "Agent",
                    "name": nameClass,
                    "account": {
                        "homePage": "https://lrs.veracity.it",
                        "name": nameClass
                    }
                },
                "verb": {
                    "id": "http://adlnet.gov/expapi/verbs/answered",
                    "display": {
                        "en-US": "Creación de Actividad"
                    }
                },
                "object": {
                    "id": "http://adlnet.gov/expapi/activities/example",
                    "definition": {
                        "name": {
                            "en-US": 'Clases del curso'
                        },
                        "description": {
                            "en-US": 'Ingreso al sistema'
                        }
                    },
                    "objectType": "Activity"
                }


            }
        };

        myXAPI.getBase = function () {
            return JSON.parse(JSON.stringify(this.statement));
        };

        myXAPI.interacted = function (starttime, cb) {
            this.attemptGUID = ADL.ruuid();
            var stmt = this.getBase();
            stmt.verb = ADL.verbs.interacted;

            stmt.timestamp = starttime.toISOString();
            ADL.XAPIWrapper.sendStatement(stmt, function (resp) {
                if (resp.status >= 200 && resp.status < 300) {
                    cb(null, resp);
                } else {
                    cb(resp);
                }
            });
        };
    </script>


    <div id="content"></div>
    <script>
        if (window.ADL && window.ADL.XAPIWrapper) {
            // send 'Initialized' statement
            myXAPI.interacted(new Date(), function (err, response) {
                if (err) {
                    return show('danger', 'Failed Initialize', err.status + "<br/>" + err.response);
                }

            });
        }
    </script>