<div class="container">
    <div class="d-flex justify-content-center">
        <div class="center-block">
            <br>
            <h3>Resultados Especificos<h3>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <div class="input-group mb-3">
                <span class="input-group-text">Buscar</span>
                <input type="text" class="search form-control" aria-label="Amount (to the nearest dollar)">
            </div>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover results table-striped">
            <thead>
                <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Solución</th>
                    <th scope="col">Nota</th>
                    <th scope="col"> Calificación</th>
                    <th scope="col">Guardar Calificación</th>

                </tr>
            </thead>

            {{#each course }}
            <tbody>
                <tr>
                    <form action="/activity/calification/{{_id}}?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="nameActivity" class="form-control" value="{{nameActivity}}">
                        <input type="hidden" name="solution_activity" class="form-control"
                            value="{{solution_activity}}">
                        <input type="hidden" name="email" class="form-control" value={{email}}>
                        <input type="hidden" name="_id" class="form-control" value={{_id}}>
                        <input type="hidden" name="user" class="form-control" value={{user}}>
                        <input type="hidden" name="idActivity" class="form-control" value={{idActivity}}>
                        <input type="hidden" name="idClass" class="form-control" value={{idClass}}>

                        <td>
                            {{nameActivity}}
                        </td>

                        <td>
                            <p>{{email}}</p>
                        </td>

                        <td>
                            <p>{{solution_activity}}</p>
                        </td>

                        <td>
                            <p>{{nota}}</p>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelect01" name="nota">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-block" type="submit">
                                Calificar
                            </button>
                        </td>
                    </form>
                </tr>
            </tbody>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            {{!-- <h3>Hola {{user.name}}</h3> --}}
            <p class="lead"> No hay soluciones Registradas</p>
        </div>
    </div>
    {{/each}}
</div>
</div>
</table>
</div>


<script>
    $(document).ready(function () {
        $(".search").keyup(function () {
            var searchTerm = $(".search").val();
            var listItem = $('.results tbody').children('tr');
            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf(
                        (match[3] || "")
                        .toLowerCase()) >= 0;
                }
            });

            $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                $(this).attr('visible', 'false');
            });

            $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                $(this).attr('visible', 'true');
            });

            var jobCount = $('.results tbody tr[visible="true"]').length;
            $('.counter').text(jobCount + ' item');

            if (jobCount == '0') {
                $('.no-result').show();
            } else {
                $('.no-result').hide();
            }
        });
    });
</script>