<div class="container" id="main">
    <div class="row" id="title-list">
        <div class="col-md-4 text-center">
            <img src="img/user_list.png" alt="usuario" width="100px" height="100px">
        </div>
        <div class="col-md-8">
            <div class="card col-md-12 mx-auto" id="title">
                <div class="card-header text-center" id="title-header">
                    <ul class="flex-container flex-end">
                        <li class="flex-item">

                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-card-list" viewBox="0 0 16 16">
                                <path
                                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path
                                    d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                            </svg>

                        </li>
                    </ul>
                    <h3>Resultados Generales</h3>
                </div>
            </div>
        </div>
  <div class="form-group"> 
    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text">Buscar</span>
        <input type="text" class="search form-control" aria-label="Amount (to the nearest dollar)">
      </div>
    </div>
  </div>

  <span class="counter pull-right"></span>
  
  <div class="table-responsive">
  <table class="table table-hover results table-striped">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Actividad</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nota</th>
        <th scope="col">Tiempo dedicado</th>
        <th scope="col">puntuación requerida</th>
      </tr>
    </thead>
    {{#each xApi}}
    <tbody>
      <tr>
        <td>
          {{nomPrueba}}
        </td>

        <td>
          <p>{{email}}</p>
        </td>
        <td>
          <p>{{score_won}}</p>
        </td>
        <td>
          <p>{{time}}</p>
        </td>
        <td>
          <p>{{required_score}}</p>
        </td>

      </tr>

</div>
{{/each}}
</div>
</tbody>
</table>

<script>
  $(document).ready(function () {
    $(".search").keyup(function () {
      var searchTerm = $(".search").val();
      var listItem = $('.results tbody').children('tr');
      var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

      $.extend($.expr[':'], {
        'containsi': function (elem, i, match, array) {
          return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "")
            .toLowerCase()) >= 0;
        }
      });

      $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
        $(this).attr('visible', 'false');
      });

      $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
        $(this).attr('visible', 'true');
      });

      var jobCount = $('.results tbody tr[visible="true"]').length;
      $('.counter').text(jobCount + ' item');

      if (jobCount == '0') {
        $('.no-result').show();
      } else {
        $('.no-result').hide();
      }
    });
  });
</script>



</div>