<div class="container">
  <br>
  {{#if error}}
  <div class="alert alert-dismissible alert-warning">
    <button
      type="button"
      class="btn-close"
      data-dismiss="alert"
      aria-label="Close"
    >
    </button>
    <h4 class="alert-heading">{{error}}</h4>
  </div>
{{/if}}
{{#each notification}}
    <script>
toastr.success('<h4 class="">{{notification}}</h4>', 'Notificación',
          { "positionClass" : "toast-bottom-right"}
      );
          </script>
{{/each}}
</div>