  {{#if success_msg}}
    <script>
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: '<h4 class="">{{success_msg}}</h4>',
        showConfirmButton: false,
        timer: 1500,
      })
    </script>
  {{/if}}
   {{#if remove}}
    <script>
         Swal.fire({
            icon: 'error',
             title: '<h4 class="">{{remove}}</h4>',
            text: 'Eliminada!',
          })
    </script>
  {{/if}}
