{{!-- barra de navegación general de la aplicación --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Athenas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">Quienes somos?</a>
          <span class="visually-hidden">(current)</span>
        </li>
      </ul>
      <form class="d-flex">
    
        {{#if user}}
        <ul class="navbar-nav ml-auto collapse navbar-collapse" id="navbarNavDropdown">
       
          {{#if (equal user.rol 'Admin'../ie)}}

          <ul class="navbar-nav ml-auto collapse navbar-collapse" id="navbarNavDropdown">
            <li class="nav-item">
              <a class="nav-link" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/course/add">Nuevo Curso</a>
            </li>
          </ul>
          {{/if}}

          {{#if (equal user.rol 'Teacher'../ie)}}
          <ul class="navbar-nav ml-auto collapse navbar-collapse" id="navbarNavDropdown">
            <li class="nav-item">
              <a class="nav-link" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/unidad/add">Nueva Unidad</a>
            </li>
          </ul>
          {{/if}}

          {{#if (equal user.rol 'Estudent'../ie)}}
          
          <ul class="navbar-nav ml-auto collapse navbar-collapse" id="navbarNavDropdown">
            <li class="nav-item">
              <a class="nav-link" href="/home">Mi Curso</a>
            </li>
              <li class="nav-item">
            <a class="nav-link" href="/ratings">Calificaciones</a>
          </li>
           
          </ul>
          {{/if}}
            {{!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Notas
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/notes">Listar Notas</a>
              <a class="dropdown-item" href="/notes/add">Agregar Nota</a>
              <hr>
              <a class="dropdown-item" href="#">{{user.email}}</a>
          </li> --}}
          
          <li class="nav-item">
            <a class="nav-link" href="/notes">Mis apuntes</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Salir</a>
          </li>
        </ul>

        {{else}}
        <!-- Dropdown -->
        <ul class="navbar-nav ml-auto collapse navbar-collapse" id="navbarNavDropdown">
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrarse</a>
          </li>
        </ul>
        {{/if}}
      </form>
    </div>
  </div>
</nav>
