{{#if notification}}
  <div class="alert alert-dismissible alert-light">
    <button
      type="button"
      class="btn-close"
      data-dismiss="alert"
      aria-label="Close"
    >
    </button>
    <h4 class="alert-heading">
      {{notification}}</h4>
  </div>
{{//if}}