<div class="container" id="main">
    <div class="row">
        {{#each notes }}
        <div class="col-md-4">
            <div class="card border-primary mb-3 text-center" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-start align-items-center">
                        {{title}}
                        <ul class="flex-container flex-end">
                            <li class="flex-item">
                                <a href="/notes/edit/{{_id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </a>
                    </h4>
                    <hr>
                    <p>{{description}}</p>
                    <p>{{useremail}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead"> No hay notas aún</p>
                <a href="/notes/add" class="btn btn-success btn-block">Crear nueva nota</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>