<div class="container"  id="main">
    <div class="col-md-6 mx-auto">
        <div class="card border-primary mb-3 text-center">
        <div class="card-header">
                          <ul class="flex-container flex-start">
                    <li class="flex-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                            class="bi bi-tag-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </li>
                </ul>
                            <h3>Editar Nota</h3>

        </div>
        <div class="card-body">
            <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" value="{{note.title}}">
                </div>
                <br>
                 <div class="form-group">
                    <textarea type="text" name="description" class="form-control">{{note.description}}</textarea>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>
</div>