<div class="container" id="main">

    <div class="row">
        <div class="col-md-3 text-center">
            <img src="../img/unidad.png" alt="usuario" width="70px" height="70px">
            <hr class="new5">
            <h3 id="my_profile">Mi unidad de trabajo</h3>
            <hr class="new5">
        </div>
        <div class="col-md-9 mx-auto">
            <br>
            <br>
            <div class="card-header text-center" id="title-header">
                <br>
                <h3>{{clases2.nameClass}}</h3>
                <hr>
                <p>Detalles de la Unidad de Aprendizaje</p>
            </div>
        </div>
    </div>

    <br>
    <button type="button" class="btn btn-outline-success" data-toggle="collapse" data-target="#objective">Objetivos la Unidad</button>
    <div id="objective" class="collapse">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card border-success text-center">
                    <div class="card-header">
                        Objetivo General
                    </div>
                    <div class="card-body">
                        <p>{{clases2.general_objective}}</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
            <div class="card border-success text-center">
                <div class="card-header">Objetivo Especifico</div>
                    <div class="card-body">
                        <p>{{clases2.specific_goal}}</p>
                    </div>
                </div>
            </div>
            </div>
            </div>




            <hr>
            <div class="row">

                {{#each activity }}

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Competencias planteadas</div>
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-start align-items-center">
                                {{nameActivity}}
                            </h4>
                            <p>{{description}}</p>
                            <hr>
                            <a href="/activity-view/{{_id}}" name="view_activity" class="btn btn-primary">Detalles Módulo</a>
                        </div>
                    </div>
                </div>



                <input type="hidden" name="idUser" id="idUser" class="form-control" value="{{user}}">
                <input type="hidden" name="emailUser" id="emailUser" class="form-control" value="{{useremail}}">

                {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">No se registraron Actividades</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <br>

        <script>
            var iduser = document.getElementById("idUser").value;
            var emailUser = document.getElementById("emailUser").value;
        </script>

        {{!-- statement envia información al LRS de actividad registrada por el docente --}}
        <script>
            var myXAPI = {
                statement: {

                    "actor": {
                        "objectType": "Agent",
                        "name": emailUser,
                        "account": {
                            "homePage": "https://lrs.veracity.it",
                            "name": emailUser
                        }
                    },
                    "verb": {
                        "id": "http://adlnet.gov/expapi/verbs/answered",
                        "display": {
                            "en-US": "El usuario interactuo con la pagina principal del docente"
                        }
                    },
                    "object": {
                        "id": "http://adlnet.gov/expapi/activities/example",
                        "definition": {
                            "name": {
                                "en-US": 'Actividades de clase'
                            },
                            "description": {
                                "en-US": 'Ingreso al sistema'
                            }
                        },
                        "objectType": "Activity"
                    }


                }
            };

            myXAPI.getBase = function () {
                return JSON.parse(JSON.stringify(this.statement));
            };

            myXAPI.interacted = function (starttime, cb) {
                this.attemptGUID = ADL.ruuid();
                var stmt = this.getBase();
                stmt.verb = ADL.verbs.interacted;

                stmt.timestamp = starttime.toISOString();
                ADL.XAPIWrapper.sendStatement(stmt, function (resp) {
                    if (resp.status >= 200 && resp.status < 300) {
                        cb(null, resp);
                    } else {
                        cb(resp);
                    }
                });
            };
        </script>

        <div id="content"></div>

        <script>
            if (window.ADL && window.ADL.XAPIWrapper) {
                // send 'Initialized' statement
                myXAPI.interacted(new Date(), function (err, response) {
                    if (err) {
                        return show('danger', 'Failed Initialize', err.status + "<br/>" + err.response);
                    }

                });
            }
        </script>