<div class="container" id="main">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="img/student2.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h3 id="my_profile">{{user.name}}</h3>
            <h6>Perfil Estudiante</h6>
            <a href="/my_account">Editar Perfil</a>
        </div>

        <div class="col-md-8 mx-auto">
            <div class="card col-md-12 mx-auto" id="title">
                <div class="card-header text-center" id="title-header">
                    {{#each course}}
                    <div class="card-body">
                        <h4 class="enter-block">
                            {{nameCourse}}
                        </h4>
                        <hr>
                        <a href="/unidad/{{_id}}" class="btn btn-success">Contenido del curso</a>
                        <hr>
                        <button type="button" class="btn btn-outline-success" data-toggle="collapse"
                            data-target="#demo">
                            Detalles del curso</button>
                    </div>
                </div>
            </div>
            <hr>
            <div id="demo" class="collapse">
                <div class="card border-success mb-3 text-center" id="title-header">
                    <div class="card-header">Objetivo General</div>
                    <p>{{general_objective}}</p>
                </div>


                <div class="card border-success mb-3 text-center" id="title-header">
                    <div class="card-header">Objetivo Especifico</div>
                    <p>{{specific_goal}}</p>
                </div>

                <div class="card border-success mb-3 text-center" id="title-header">
                    <div class="card-header">
                        <h5>Pregunta Problema</h5>
                    </div>
                    <p>{{problem_question}}</p>
                </div>


                <div class="card border-success mb-3 text-center" id="title-header">
                    <div class="card-header">
                        <h5>Competencias</h5>
                    </div>
                    <p>{{Competencies}}</p>
                </div>



                <div class="card border-success mb-3 text-center" id="title-header">
                    <div class="card-header">
                        <h5>Resultados</h5>
                    </div>
                    <p> {{results}}</p>
                </div>

            </div>
            <input type="hidden" name="idUser" id="idUser" class="form-control" value="{{user}}" />
            <input type="hidden" name="emailUser" id="emailUser" class="form-control" value="{{useremail}}" />
            {{/each}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Calificaciones</a>
                <a href="/ratings" class="list-group-item list-group-item-action">Ver mis Calificaciones</a>
            </div>
        </div>
    </div>
    <script>
        var iduser = document.getElementById("idUser").value;
        var emailUser =
            document.getElementById("emailUser").value;
    </script>

    {{! statement envia información al LRS de actividad registrada por el docente }}
    <script>
        var myXAPI = {
                statement: {
                    "actor": {
                        "objectType": "Agent",
                        "name": emailUser,
                        "account": {
                            "homePage": "https://lrs.veracity.it",
                            "name": emailUser
                        }
                    },
                    "verb": {
                        "id": "http://adlnet.gov/expapi/verbs/answered",
                        "display": {
                            "en-US": "El usuario interactuo con la pagina principal del
                            docente " } }, "
                            object ": { "
                            id ": "
                            http: //adlnet.gov/expapi/activities/example",
                                "definition": {
                                    "name": {
                                        "en-US": 'Interfaz principal - Cursos matriculados'
                                    },
                                    "description": {
                                        "en-US": 'Ingreso al sistema'
                                    }
                                },
                            "objectType": "Activity"
                        }
                    }
                };myXAPI.getBase = function () {
                    return
                    JSON.parse(JSON.stringify(this.statement));
                };myXAPI.interacted = function (starttime, cb) {
                    this.attemptGUID = ADL.ruuid();
                    var stmt = this.getBase();
                    stmt.verb = ADL.verbs.interacted;
                    stmt.timestamp = starttime.toISOString();
                    ADL.XAPIWrapper.sendStatement(stmt, function (resp) {
                        if (resp.status >= 200 &&
                            resp.status < 300) {
                            cb(null, resp);
                        } else {
                            cb(resp);
                        }
                    });
                };
    </script>

    <div id="content"></div>
    <script>
        if (window.ADL && window.ADL.XAPIWrapper) { // send 'Initialized' statement
            myXAPI.interacted(new Date(), function (err, response) {
                if (err) {
                    return
                    show('danger', 'Failed Initialize', err.status + "<br/>" + err.response);
                }
            });
        }
    </script>
    <br>
</div>