<div class="container" id="main">
    <div class="row">
        <div class="col-md-8">
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">
                    <h3>Matricular Estudiante</h3>
                </div>
                <div class="card-body">
                    <form action="/student/new-student" method="POST">
                        <input type="hidden" name="idCurse" class="form-control" value="{{createEstudent._id}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre del Estudiente"
                                value="{{name}}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Correo"
                                value="{{email}}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" name="mobile" placeholder="Numero de celular"
                                value="{{mobile}}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password"
                                placeholder="Ingresar Contraseña">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password"
                                placeholder="Confirmar Contraseña">
                        </div>
                        <hr>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
          <div class="col-md-4 text-center">
            <img src="../../img/student2.png" alt="usuario" width="100px" height="100px">

            <h1 id="my_profile">Usuario Estudiantes</h1>
            <hr class="new5">
             <div>
           <ul class="list-group">
            <li class="list-group-item active">Perfil Estudiante</li>
            <li class="list-group-item">Inicio de sesión</li>
            <li class="list-group-item">Acesso a Módulos</li>
            <li class="list-group-item">Resolver Unidades</li>
            </ul>
        </div>
    </div>
</div>