<div class="container">
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="../img/student.png" alt="usuario" width="80px" height="80px">
                    <hr class="new5">
                          <h3 id="my_profile">{{user.name}}</h3>

                </div>
            {{#each activity }}
                <div class="col-md-8">
                    <br>
                    <div class="card col-md-12 mx-auto" id="title">
                        <div class="card-header text-center" id="title-header">
                            <h3>{{nameActivity}}</h3>
                            <hr>
                            <p>Resolver Módulo</p>
                        </div>
                    </div>
                </div>
                </div>

                <hr>

                <div class="card border-success mb-3 text-center">
                    <div class="card-body">
                        <a href="/student/file/{{fileActivity}}" target="_blank" class="btn btn-success">
                            Resolver Módulo</a>
                        <hr>
                               <p>{{description}}</p>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Fecha de inicio {{start_date}}</p>

                            </div>
                            <div class="col-md-6">
                                <p>Fecha de limite de entrega {{end_date}}</p>

                            </div>
                        </div>
                    </div>
                </div>

    </div>
    <input type="hidden" name="idUser" id="idUser" class="form-control" value="{{user}}">
    <input type="hidden" name="emailUser" id="emailUser" class="form-control" value="{{useremail}}">
    <input type="hidden" name="nameActivity" id="nameActivity" class="form-control" value="{{nameActivity}}">

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead"> No hay actividades aún</p>
        </div>
    </div>
    {{/each}}
</div>
</div>


<script>
    function abrirVentana() {
        //guardo la referencia de la ventana para poder utilizarla luego
        ventana_secundaria = window.open("cerrar_window2.html", "miventana", "width=300,height=200,menubar=no")
    }

    function cerrarVentana() {
        //la referencia de la ventana es el objeto window del popup. Lo utilizo para acceder al método close
        ventana_secundaria.close()
    }
</script>


<script>
    var iduser = document.getElementById("idUser").value;
    var emailUser = document.getElementById("emailUser").value;
    var nameActivity = document.getElementById("nameActivity").value;
</script>

{{!-- statement envia información al LRS de actividad registrada por el docente --}}
<script>
    var myXAPI = {
        statement: {

            "actor": {
                "objectType": "Agent",
                "name": emailUser,
                "account": {
                    "homePage": "https://lrs.veracity.it",
                    "name": emailUser
                }
            },
            "verb": {
                "id": "http://adlnet.gov/expapi/verbs/answered",
                "display": {
                    "en-US": "El usuario interactuo con la pagina principal del docente"
                }
            },
            "object": {
                "id": "http://adlnet.gov/expapi/activities/example",
                "definition": {
                    "name": {
                        "en-US": nameActivity
                    },
                    "description": {
                        "en-US": 'El usuario ingresa a la actividad'
                    }
                },
                "objectType": "Activity"
            }


        }
    };

    myXAPI.getBase = function () {
        return JSON.parse(JSON.stringify(this.statement));
    };

    myXAPI.initialize = function (starttime, cb) {
        this.attemptGUID = ADL.ruuid();
        var stmt = this.getBase();
        stmt.verb = ADL.verbs.initialized;

        stmt.timestamp = starttime.toISOString();
        ADL.XAPIWrapper.sendStatement(stmt, function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                cb(null, resp);
            } else {
                cb(resp);
            }
        });
    };
</script>

<div id="content"></div>

<script>
    if (window.ADL && window.ADL.XAPIWrapper) {
        // send 'Initialized' statement
        myXAPI.initialize(new Date(), function (err, response) {
            if (err) {
                return show('danger', 'Failed Initialize', err.status + "<br/>" + err.response);
            }
        });
    }
</script>