{{!-- vista de los mudulos de Aprendizaje del estudiante --}}
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="../img/unidad.png" alt="usuario" width="70px" height="70px">
                    <hr class="new5">
                    <h3 id="my_profile">Mi unidad de trabajo</h3>
                    <hr class="new5">
                </div>
                <div class="col-md-9 mx-auto">
                    <br>
                    <br>
                    <div class="card-header text-center" id="title-header">
                        <br>
                        <h3>Unidades de aprendizaje</h3>
                        <hr>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            {{#each clases }}
            <div class="col-md-12">
                <div class="card col-md-12 mx-auto" id="title">
                    <div class="card-header text-center" id="title-header">
                        <h4>
                            {{nameClass}}
                        </h4>
                        <p>{{description}}</p>
                        <hr>
                        <a href="../modulo/{{_id}}" class="btn btn-outline-success">Detalles de la Unidad </a>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" name="idUser" id="idUser" class="form-control" value="{{user}}">
            <input type="hidden" name="emailUser" id="emailUser" class="form-control" value="{{useremail}}">
            {{else}}

            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead"> No se encuentra registrado en ninguna clases</p>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header text-center">Calendario de actividades</div>
                <div class="card-body">
                    <div id="calendario">
                        <div id="anterior" onclick="mesantes()"></div>
                        <div id="posterior" onclick="mesdespues()"></div>
                        <h4 id="titulos"></h4>
                        <table id="diasc">
                            <tr id="fila0">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr id="fila1">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="fila2">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="fila3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="fila4">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="fila5">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="fila6">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <hr>

                        <div id="fechaactual"><i onclick="actualizar()">HOY: </i></div>
                        <div class="row">
                            <h6>Buscar fecha</h6>
                            <hr>
                            <div class="col-md-6">
                                <div id="buscafecha">
                                    <form action="#" name="buscar">
                                        <select name="buscames" class="form-select">
                                            <option value="0">Enero</option>
                                            <option value="1">Febrero</option>
                                            <option value="2">Marzo</option>
                                            <option value="3">Abril</option>
                                            <option value="4">Mayo</option>
                                            <option value="5">Junio</option>
                                            <option value="6">Julio</option>
                                            <option value="7">Agosto</option>
                                            <option value="8">Septiembre</option>
                                            <option value="9">Octubre</option>
                                            <option value="10">Noviembre</option>
                                            <option value="11">Diciembre</option>
                                        </select>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="buscaanno" maxlength="4" size="4" />
                            </div>

                        </div>
                        <hr>
                        <input type="button" class="btn btn-outline-secondary" value="BUSCAR" onclick="mifecha()" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-header text-center" id="title-header">
                Actividades Pendientes
                <hr>
                <h5>{{new_activity.nameActivity}}</h5>
                <hr>
                {{!-- <h5>INICIA EL: {{start_date}}</h5> --}}
                <h5>Fecha limite: {{new_activity.end_date}}</h5>
            </div>
        </div>
    </div>
    <br>



    <script>
        var iduser = document.getElementById("idUser").value;
        var emailUser = document.getElementById("emailUser").value;
    </script>

    {{!-- statement envia información al LRS de actividad registrada por el docente --}}
    <script>
        var myXAPI = {
            statement: {

                "actor": {
                    "objectType": "Agent",
                    "name": emailUser,
                    "account": {
                        "homePage": "https://lrs.veracity.it",
                        "name": emailUser
                    }
                },
                "verb": {
                    "id": "http://adlnet.gov/expapi/verbs/answered",
                    "display": {
                        "en-US": "El usuario interactuo con la pagina principal del docente"
                    }
                },
                "object": {
                    "id": "http://adlnet.gov/expapi/activities/example",
                    "definition": {
                        "name": {
                            "en-US": 'Clases del curso'
                        },
                        "description": {
                            "en-US": 'Ingreso al sistema'
                        }
                    },
                    "objectType": "Activity"
                }


            }
        };

        myXAPI.getBase = function () {
            return JSON.parse(JSON.stringify(this.statement));
        };

        myXAPI.interacted = function (starttime, cb) {
            this.attemptGUID = ADL.ruuid();
            var stmt = this.getBase();
            stmt.verb = ADL.verbs.interacted;

            stmt.timestamp = starttime.toISOString();
            ADL.XAPIWrapper.sendStatement(stmt, function (resp) {
                if (resp.status >= 200 && resp.status < 300) {
                    cb(null, resp);
                } else {
                    cb(resp);
                }
            });
        };
    </script>


    <div id="content"></div>
    <script>
        if (window.ADL && window.ADL.XAPIWrapper) {
            // send 'Initialized' statement
            myXAPI.interacted(new Date(), function (err, response) {
                if (err) {
                    return show('danger', 'Failed Initialize', err.status + "<br/>" + err.response);
                }

            });
        }
    </script>