<div class="container" id="main">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="img/user_edit.png" alt="usuario" width="100px" height="100px">
            <hr class="new5">
            <h6>Mi nombre</h6>
            <h3 id="my_profile">{{user.name}}</h3>
            <h6>correo electronico</h6>
            <h3 id="my_profile">{{user.email}}</h3>

            <input class="btn btn-success" type="button" name="ok" value="Editar mi perfil" onclick="activarcaja()">
        </div>
        <div class="col-md-8">
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">
                    <h3>Editar mis datos</h3>
                </div>
                <div class="card-body">
                    <form action="/user/edit_Myaccount/{{user._id}}?_method=PUT" method="POST">
                        <input type="hidden" name="_method" value="PUT">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><a href=""></a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </span>
                            </div>
                            <input type="text" name="name" id="name" class="form-control" value="{{user.name}}"
                                disabled="">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><a href=""></a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                        class="bi bi-telephone" viewBox="0 0 16 16">
                                        <path
                                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg>
                                </span>
                            </div>
                            <input type="text" name="mobile" id="mobile" class="form-control" value="{{user.mobile}}"
                                disabled="">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><a href=""></a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                        class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z" />
                                    </svg>
                                </span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control" value="{{user.password}}"
                                disabled="">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" name="boton" id="boton" type="submit" disabled="">
                                Guardar
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

</script>