<div class="container">
    <br>
    <div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center border-primary mb-3">
            <div class="card-header">
                Registre su cuenta
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre de Usuario" value="{{name}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Ingresar Correo" value="{{email}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingresar Contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirmar Contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Registrase</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<br>